.w-inherit {
    width: inherit !important;
}

.w-80 {
    width: 80% !important;
}

.error-status {
    font-size: 3rem;
    font-weight: 800;
}

.btn-pencil {
    margin-right: 8px;
    color: #005dc2;
    padding: 0 !important;
    outline: none;
}

.btn-trash {
    color: #dc3545;
    padding: 0 !important;
    outline: none;
}

@media (min-width: 576px) {
    .w-sm-80 {
        width: 80% !important;
    }
}

@media (min-width: 768px) {
    .w-md-80 {
        width: 80% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-80 {
        width: 80% !important;
    }
    .new-form-container, .edit-form-container {
        height: calc(100vh - 112px);
        overflow-y: hidden;
    }
    .new-form, .edit-form {
        height: 100%;
        overflow-y: scroll;
    }
    .error-status {
        font-size: 6rem;
    }
}

@media (min-width: 1200px) {
    .w-xl-80 {
        width: 80% !important;
    }
}

@media (min-width: 1400px) {
    .w-xxl-80 {
        width: 80% !important;
    }
}