.w-inherit {
    width: inherit !important;
}

.w-80 {
    width: 80% !important;
}

.error-status {
    font-size: 3rem;
    font-weight: 800;
}

.btn-pencil {
    margin-right: 8px;
    color: #005dc2;
    padding: 0 !important;
    outline: none;
}

.btn-trash {
    color: #dc3545;
    padding: 0 !important;
    outline: none;
}

.hr {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.stars-wrapper {
    display: flex;
    gap: 0.1rem;
}

.star-filled,
.star-empty {
    color: #f7c348;
    text-shadow: 0.2px 0.5px 0 rgba(0, 0, 0, 0.25);
}

.carousel-img {
    height: 400px !important;
    object-fit: cover;
    image-rendering: pixelated;
}

.img-thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.input-img-thumbnail {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.map-container {
    width: 100%;
    height: 400px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.cards-container .card-text {
    font-size: 0.9rem;
}

.cards-container .text-muted {
    font-size: 0.8rem;
}

@media (min-width: 576px) {
    .w-sm-80 {
        width: 80% !important;
    }
}

@media (min-width: 768px) {
    .w-md-80 {
        width: 80% !important;
    }

    .cards-container .card {
        width: 48%;
    }
}

@media (min-width: 992px) {
    .w-lg-80 {
        width: 80% !important;
    }
    .new-form-container,
    .edit-form-container {
        height: calc(100vh - 112px);
        overflow-y: hidden;
    }
    .new-form,
    .edit-form {
        height: 100%;
        overflow-y: scroll;
    }
    .error-status {
        font-size: 6rem;
    }

    .cards-container .card {
        width: 32%;
    }
}

@media (min-width: 1200px) {
    .w-xl-80 {
        width: 80% !important;
    }
}

@media (min-width: 1400px) {
    .w-xxl-80 {
        width: 80% !important;
    }

    .cards-container .card {
        width: 24%;
    }
}
