<% layout('layouts/boilerplate.ejs') %>
    <% block('head').append(`<title>New Campground</title>`) %>
        <div class='row'>
            <h1 class='text-center'>New Campground</h1>
            <div class='col-6 offset-3'>
                <form class='my-3' action='/campgrounds' method='POST'>
                    <div class='mb-3'>
                        <label class='form-label' for='title'>Title</label>
                        <input class='form-control' type='text' name='title' id='title' required>
                    </div>
                    <div class='mb-3'>
                        <label class='form-label' for='price'>Price</label>
                        <div class='input-group'>
                            <span class='input-group-text'>$</span>
                            <input class='form-control' type='numeric' name='price' id='price' min='0' required>
                          </div>
                    </div>
                    <div class='mb-3'>
                        <label class='form-label' for='location'>Location</label>
                        <input class='form-control' type='text' name='location' id='location' required>
                    </div>
                    <div class='mb-3'>
                        <label class='form-label' for='image'>Image URL</label>
                        <input class='form-control' type='text' name='image' id='image' required>
                    </div>
                    <div class='mb-3'>
                        <label class='form-label' for='description'>Description</label>
                        <textarea class='form-control' type='text' name='description' id='description' required></textarea>
                    </div>
                    <button class='btn btn-primary'>Create</button>
                </form>
                <a class='text-decoration-none' href='/campgrounds'>All Campgrounds</a>
            </div>
        </div>